* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/*#picker {
  background-color: white;
  box-shadow: 0 .5rem 1rem -.25rem lightgray;
  margin: 2rem 0 1rem;
  padding: 1rem;
}*/


/*TITLE FORMATTING*/
#picker h1 {
  font-weight: 100;
  line-height: 1;
  margin: 0 0 1rem;
  color: gray;
}

#sound h1 {
  font-size: 130%;
  font-weight: 100;
  line-height: 1;
  margin: 0 0 1rem;
  color: gray;
}

/*APPERANCE OF SAT/LIGHT RANGES*/
[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-origin: content-box;
  background-repeat: no-repeat;
  /*border-radius: 2rem;*/
  display: block;
  color: inherit;
  height: 2rem;
/*  margin: 0 0 1rem;*/
  padding: 0;
  width: 100%;
}
[type="range"]:focus {
  outline: none;
}
[type="range"]::-moz-range-track {
  background-color: transparent;
}
[type="range"]::-webkit-slider-runnable-track {
  margin: 0 -1rem;

/*COHERENCE OF RANGES*/
}
[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: transparent;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}

/*APPERANCE OF RESULT SLOT*/
[type="range"]::-moz-range-thumb {
  background-color: transparent;
  border: 0;
  border-radius: 100%;
  box-shadow:
    inset 0 0 0 .125rem currentColor,
    inset 0 0 0 .25rem white;
  height: 2rem;
  width: 2rem;
}

/*SIZE AND SHAPE OF SAMPLE BOX*/

#sample {
 /* border-radius: 2rem;*/
  height: 20rem;
  text-align: right;
  padding: .33rem 1rem;
  width: 100%;
}

/*SAMPLE BOX TEXT*/
#sample div {
  cursor: pointer;
  font-size: .75rem;
  font-weight: 100;
  line-height: 1.5em;
}

/*TEXT UNDERLINE UPON HOVER*/
#sample div:hover {
  text-decoration: underline;
}
#sample .white {
  color: white;
}
#sample .black {
  color: black;
}

/*RAINBOW EFFECT ON HUE RANGE*/
#hsl-h {
  background-image: linear-gradient(
    to right,
    #F00,
    #FF0,
    #0F0,
    #0FF,
    #00F,
    #F0F,
    #F00
  );
}

/*GRADIENT ON SATURATION*/
#hsl-s {
  background-image: linear-gradient(
    to right,
    #888,
    transparent
  );
}

/*GRADIENT EFFECT ON LIGHTNESS*/
#hsl-l {
  background-image: linear-gradient(
    to right,
    #000,
    transparent,
    #FFF
  );
}

/*WIDTH/PLACEMENT OF SLIDERS*/
@media screen and (min-width: 42rem) {
  #picker {
    width: 42rem;
    margin: 2rem /*/*auto 1rem*/;
  }
  #sound {
    width: 42rem;
    margin: 2rem /*/*auto 1rem*/;
  }
}


